*{
    margin: 0;
    margin-bottom: 20px;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    margin-top: 100px;
    justify-content: center;
}

h1 {
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}

h1 span {
    padding: 0;
    color: black;
    font-weight: 700;
}

.description p {
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
}

.email, .submit {
    height: 45px;
    width: 315px;
    border-radius: 25px;
    border: 1px solid hsl(0, 1%, 75%);
}
.email::placeholder {
    color: hsl(0, 0%, 83%);
    padding-left: 30px;
    font-size: 12px;
}
.submit {
    box-shadow: -4px 15px 15px 0px hsl(208, 38%, 91%);
    background-color: hsl(223, 87%, 63%);
    color: white;
    font-size: 13px;
}

.success {
    position: relative;
    font-size: 12px;
    color: rgb(103, 185, 117);
    display: none;
    margin-top: -10px;
}

.error {
    position: relative;
    font-size: 12px;
    color: rgb(206, 34, 34);
    display: none;
    margin-top: -10px;
}

.image {
    display: block;
    width: 375px;
}

.icons span {
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-top: 100px;
    padding: 10px;
}


.copyright {
    margin-top: -30px;
    font-size: 12px;
    color:hsl(0, 0%, 59%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
  
.attribution a {
    color: hsl(271, 97%, 29%);
}

@media only screen and (min-width: 800px){
.logo {
    margin-top: 80px;
}
h1 {
    font-size: 3rem;
}
.description p {
    font-size: 1.2rem;
}
.form {
    flex-direction: row;
}
.email {
    margin-top: 20px;
    width: 380px;
    height: 40px;
}
.submit {
    margin-top: 20px;
    width: 150px;
    margin-left: 10px;
    height: 40px;
    font-size: 15px;
}
.email::placeholder {
    color: hsl(0, 3%, 77%);
    font-size: 15px;
}
.image {
    margin-top: 50px;
    width: 550px;
}
.icons{
    margin-top: -50px;
}
.error {
    position: absolute;
    margin-top: 30px;
    margin-left: -160px;
}
.success {
    position: absolute;
    margin-top: 30px;
    margin-left: -190px;  
}

}